# query by pymysql

In [ ]:
import pymysql
user = '<account_name>'
passw = '<password>'
host =  '127.0.0.1'
port = 3306
database = '<database_name>'
conn = pymysql.connect(host=host, port=port, user=user, password=passw db=database)
cur.execute("""CREATE TABLE test (
ID int,
name varchar(10)
PRIMARY KEY (ID)
)""")
conn.commit()
conn.close()

# insert pandas dataframe into mysql

In [ ]:
import pymysql
import pandas as pd
from sqlalchemy import create_engine
import MySQLdb

csv = pd.read_csv('test.csv')  
df = pd.DataFrame(csv) 

user = '<account_name>'
passw = '<password>'
host =  '127.0.0.1'
port = 3306
database = '<database_name>'

engine = create_engine("mysql+pymysql://{0}:{1}@{2}:{3}/{4}?charset=utf8".format(user,passw,host,port,database)) 
conn = engine.connect()

df.to_sql(name = '<table_name>',con = engine.connect(),if_exists = 'replace')

conn.close()